.Note {
  --note-height: 88px;
  background-color: black;
  color: white;
  height: var(--note-height);
  margin-bottom: 8px;
  max-width: 380px;
  padding: 8px 0 8px 8px;
  position: relative;
}

.folderButtons {
  display: flex;
  align-items: center;
  justify-content: left;
}

.Note__delete {
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-left: 4.9rem;
}

.editNote {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin-top: .6rem;
}

.Note__title {
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0;
  max-width: 80%;
  min-height: 24px;
  margin-left: 1rem;
  text-align: center;
}

.Note__title a:hover {
  color: black;
}

.Note__dates {
  bottom: 8px;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-right: 2rem;
  margin-top: .5rem;
  margin-bottom: 5rem;
}

a {
  color: white;
  text-decoration: none;

}
